html,body
	{
		height: 100%;
		margin: 0px;
	}
	#left
	{
		width:14.7%;
		height:100%;
		background:#DDD;
		float:left;
	}
	#right
	{
		width:85%;
		height:100%;
		background:#CCC;
		float:right;
		left:15;
	}
	#foo
	{
		position:
		fixed;bottom:0px;
		left:0;
		right:0;
		background:#FFF;
	}