<<<<<<< HEAD
html,body
=======
	html,body
>>>>>>> 749b0ea14311c4b1c2f9f3e858d68b7a8f1b9154
	{
		height: 100%;
		margin: 0px;
	}
	#left
	{
		width:14.7%;
<<<<<<< HEAD
		height:100%;
=======
		height:90%;
>>>>>>> 749b0ea14311c4b1c2f9f3e858d68b7a8f1b9154
		background:#DDD;
		float:left;
	}
	#right
	{
		width:85%;
		height:100%;
		background:#CCC;
		float:right;
		left:15;
	}
	#foo
	{
		position:
		fixed;bottom:0px;
		left:0;
		right:0;
		background:#FFF;
	}